* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6801;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
}
header img{
    width: auto;
    height: 20px;
}
.container{
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    ;
}


main{
  margin-top: calc(1rem + (.7rem * 2) + 20px);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.links-container ul li {
    display: inline-block;
}

.links-container ul li a {
    padding: .3rem .1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.logo-container{
    display: flex;
    
}

.icon-container{
    display: flex;
   

}
.icon{
    color: white;
}
.card {
    position: relative;
    flex-basis: 30%;
    flex-grow: 1;
    display: block;
    
  }


.card-container {
    display: flex;
    
    gap: 1rem;
    padding-bottom: 4rem;
  }
  

 
  .img-containor{
    height: 90%;
}


.card img {
    width: 100%;
    display: inline-block;
    position: relative;
  }
 
  .card:hover .img-overlay {
    opacity: 1;
}


.img-overlay{

  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
  .discount-container {
    padding: .5rem;
    font-size: .8rem;
    background-color: red;
    color: white;
    position: absolute;
    top: 70%;
    
  }

  .suistainable-materials {
    padding: .5rem;
    font-size: .8rem;
    background-color: green;
    color: white;
    position: absolute;
    top: 70%;
    right: 56%;
    
  }
  
  .suistainable-materials-last{
    padding: .5rem;
    font-size: .8rem;
    background-color: green;
    color: white;
    position: absolute;
    top: 70%;
  }

  .price{
    color: red;
    font-size: small;
  }

  .original-price{
    text-decoration: line-through;
    color: black;
  }
  
  .favorites{
    padding: .8rem;
    font-size: .8rem;
    
    color: white;
    position: absolute;
    color: black;
    top: 1%;
    right: 0%;
    background-color: white;

  }
  .description-container{
    font-size: smaller;
  }
footer{
    background-color: black;
}
.containter-footer{
    display: flex;
    justify-content: space-between;
}

.footer-title{
    color: white;
}
.footer-icons{
    color: white;
}
  
  .footer-link ul li {
    display: inline-block;
}

.footer-link ul li a {
    padding: .3rem .1rem;
    display: inline-block;
    text-decoration: none;
    font-size: small;
    color: white;}

footer i{color: white;}